In [7]:
from yahoofinancials import YahooFinancials
import pandas as pd

In [8]:
ticker = 'S59.SI'
yahoo_financials = YahooFinancials(ticker)

In [9]:
incomeStatement = yahoo_financials.get_financial_stmts('annual', 'income')

incomeStatement_df = pd.DataFrame(incomeStatement['incomeStatementHistory'][ticker][0])

for dic in incomeStatement['incomeStatementHistory'][ticker][1:]:
    incomeStatement_df = pd.concat([incomeStatement_df,  pd.DataFrame(dic)], axis=1)

pd.set_option('display.float_format', lambda x: '%.3f' % x)
incomeStatement_df

,2019-03-31,2018-03-31,2017-03-31,2016-03-31
costOfRevenue,263464000.000,320381000.000,326066000.000,350090000.000
discontinuedOperations,nan,nan,nan,nan
ebit,58207000.000,81668000.000,70549000.000,111287000.000
effectOfAccountingCharges,nan,nan,nan,nan
extraordinaryItems,nan,nan,nan,nan
grossProfit,757432000.000,774500000.000,778075000.000,762577000.000
incomeBeforeTax,179063000.000,209589000.000,355034000.000,201985000.000
incomeTaxExpense,18108000.000,21567000.000,17887000.000,20776000.000
interestExpense,-938000.000,-772000.000,-727000.000,-296000.000
minorityInterest,35424000.000,31262000.000,33960000.000,26405000.000
netIncome,160870000.000,186805000.000,332369000.000,176634000.000
netIncomeApplicableToCommonShares,160870000.000,186805000.000,332369000.000,176634000.000
netIncomeFromContinuingOps,160955000.000,188022000.000,337147000.000,181209000.000
nonRecurring,nan,nan,nan,nan
operatingIncome,58207000.000,81668000.000,70549000.000,111287000.000
otherItems,nan,nan,nan,nan
otherOperatingExpenses,107281000.000,95328000.000,92194000.000,94788000.000
researchDevelopment,nan,nan,nan,nan
sellingGeneralAdministrative,538488000.000,543605000.000,562559000.000,512616000.000
totalOperatingExpenses,962689000.000,1013213000.000,1033592000.000,1001380000.000
totalOtherIncomeExpenseNet,120856000.000,127921000.000,284485000.000,90698000.000
totalRevenue,1020896000.000,1094881000.000,1104141000.000,1112667000.000