In [36]:
%matplotlib inline

import pandas as pd
import matplotlib.pyplot as plt
from IPython.display import Javascript, display, HTML, Markdown as md
from ipywidgets import interact, interactive, fixed, interact_manual
import ipywidgets as widgets
import json
import requests
import pandas as pd

pd.set_option('display.float_format', lambda x: '%.3f' % x)

In [37]:
banks = {
        'DBS': {
                'ticker': 'D05',
                'morningstarID': '0P0000A67J'
        },
        'OCBC':  {
                'ticker': 'O39',
                'morningstarID': '0P0000A68H'
        },
        'UOB':{
                'ticker': 'U11',
                'morningstarID': '0P0000A692'
        }
}
print(banks.keys())

dict_keys(['DBS', 'OCBC', 'UOB'])

In [38]:
dropdown = widgets.Dropdown(options = sorted(banks.keys()))
chosen = 'DBS'

def dropdown_eventhandler(change):
    global chosen 
    chosen = change.new
    display(Javascript('IPython.notebook.execute_cell_range(IPython.notebook.get_selected_index()+1, IPython.notebook.ncells())'))
    
dropdown.observe(dropdown_eventhandler, names='value')

display(dropdown)

Dropdown(options=('DBS', 'OCBC', 'UOB'), value='DBS')

In [39]:
finUrl = 'https://api-global.morningstar.com/sal-service/v1/stock/newfinancials/{id}/{report}/detail?dataType=A&reportType=A&locale=en&&operation=export&clientId=MDC&benchmarkId=category&version=3.21.1'
finHeaders = {
    'Referer': 'https://www.morningstar.com/', 
    'apikey': 'lstzFDEOhfFNMLikKa0am9mgEKLBl49T', 
    'x-sal-contenttype': 'nNsGdN3REOnPMlKDShOYjlk6VYiEVLSdpfpXAm7o2Tk='
}

keyRatioUrl = 'http://financials.morningstar.com/finan/ajax/exportKR2CSV.html?&callback=?&t=XSES:{ticker}&region=sgp&culture=en-US&cur=&order=asc'
keyRatioHeaders = {
    'Referer': 'http://financials.morningstar.com/ratios/r.html?t=D05&region=sgp&culture=en-US'
}

# Download finacial reports
reports = ['balancesheet', 'incomestatement', 'cashflow']
for report in reports:
    print('Downloading % s'%report)
    with open('% s.xls'%report, 'wb') as f:
        response = requests.get(finUrl.format(id = banks[chosen]['morningstarID'], report = report), headers=finHeaders)
        f.write(response.content)
        print('Done')


# Download key ratio data
with open('keyratios.csv', 'wb') as f:
    print('Downloading Key Ratios data')
    response = requests.get(keyRatioUrl.format(ticker = banks[chosen]['ticker']), headers=keyRatioHeaders)
    f.write(response.content)
    print('Done')

Downloading balancesheet
Done
Downloading incomestatement
Done
Downloading cashflow
Done
Downloading Key Ratios data
Done

In [40]:
balance = pd.read_excel("balancesheet.xls",  index_col=0)
balance

,2019,2018,2017,2016,2015,2014,2013,2012,2011,2010
Name,,,,,,,,,,
Total Assets,"578,946,000,000","550,751,000,000","517,711,000,000","481,570,000,000","457,834,000,000","440,666,000,000","402,008,000,000","353,033,000,000","340,847,000,000","283,710,000,000"
Cash and Cash Equivalents,"65,698,000,000","62,363,000,000","62,438,000,000","56,858,000,000","57,114,000,000","61,780,000,000","58,543,000,000","46,580,000,000","25,304,000,000","31,203,000,000"
Cash,"2,303,000,000","2,460,000,000","2,205,000,000","2,938,000,000","3,070,000,000","1,936,000,000","1,803,000,000","1,656,000,000",NaN,NaN
Due from Banks,"39,336,000,000","40,178,000,000","35,975,000,000","30,018,000,000","38,285,000,000","42,263,000,000","39,817,000,000","28,808,000,000",NaN,NaN
Deposits and Balances at Central Banks,"24,059,000,000","19,725,000,000","24,258,000,000","23,902,000,000","15,759,000,000","17,581,000,000","16,923,000,000","16,116,000,000",NaN,NaN
...,...,...,...,...,...,...,...,...,...,...
Non-Controlling/Minority Interests,"818,000,000","830,000,000","2,344,000,000","2,361,000,000","2,422,000,000","2,498,000,000","3,453,000,000","4,261,000,000","4,275,000,000","6,503,000,000"
Common Shares Issued,"2,554,121,000","2,551,615,000","2,557,067,485","2,536,110,000","2,499,907,000","2,472,363,866","2,442,997,000","2,464,391,695","2,450,000,000","2,408,683,976"
Common Shares Outstanding,"2,554,121,000","2,551,615,000","2,557,067,485","2,536,110,000","2,499,907,000","2,472,363,866","2,442,997,000","2,464,391,695","2,450,000,000","2,408,683,976"
Common Shares Treasury,"9,815,000","12,321,000","6,868,515","12,852,000","14,874,000","6,762,134","6,727,000","7,648,152",0,0
Fiscal year ends in Dec 31 | SGD,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [41]:
income = pd.read_excel("incomestatement.xls",  index_col=0)
income

,TTM,2019,2018,2017,2016,2015,2014,2013,2012,2011,2010
Name,,,,,,,,,,,
Total Revenue,"14,543,000,000","14,543,000,000","13,092,000,000","12,273,000,000","11,435,000,000","10,833,000,000","9,773,000,000","9,054,000,000","8,465,000,000","7,631,000,000","7,066,000,000"
Net Interest Income,"9,625,000,000","9,625,000,000","8,955,000,000","7,791,000,000","7,305,000,000","7,100,000,000","6,321,000,000","5,569,000,000","5,285,000,000","4,825,000,000","4,318,000,000"
"Interest Income, Revenue","15,592,000,000","15,592,000,000","13,798,000,000","10,833,000,000","9,748,000,000","9,644,000,000","8,948,000,000","7,986,000,000","7,621,000,000","6,555,000,000","5,699,000,000"
Interest Income from Loans and Lease,"10,247,000,000","10,247,000,000","8,959,000,000","7,096,000,000","6,628,000,000","6,126,000,000","5,256,000,000","4,710,000,000","5,644,000,000",NaN,NaN
Interest Income from Loans,"10,247,000,000","10,247,000,000","8,959,000,000","7,096,000,000","6,628,000,000","6,126,000,000","5,256,000,000","4,710,000,000","5,644,000,000",NaN,NaN
Interest Income from Securities,"4,468,000,000","4,468,000,000","4,020,000,000","3,116,000,000","2,749,000,000","3,052,000,000","3,115,000,000","2,816,000,000","1,481,000,000",NaN,NaN
Interest Income from Deposits,"877,000,000","877,000,000","819,000,000","621,000,000","371,000,000","466,000,000","577,000,000","460,000,000","496,000,000",NaN,NaN
"Interest Expense, Cost of Revenue","-5,967,000,000","-5,967,000,000","-4,843,000,000","-3,042,000,000","-2,443,000,000","-2,544,000,000","-2,627,000,000","-2,417,000,000","-2,336,000,000","-1,730,000,000","-1,381,000,000"
Interest Expense for Deposit,"-4,129,000,000","-4,129,000,000","-3,488,000,000","-2,180,000,000","-1,726,000,000","-1,940,000,000","-2,086,000,000","-1,926,000,000","-1,953,000,000",NaN,NaN
Interest Expense for Debt and Capital Lease Obligations,"-1,838,000,000","-1,838,000,000","-1,355,000,000","-862,000,000","-717,000,000","-604,000,000","-541,000,000","-491,000,000",NaN,NaN,NaN
Other Interest Expense,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"-383,000,000",NaN,NaN
Non-Interest Income,"4,918,000,000","4,918,000,000","4,137,000,000","4,482,000,000","4,130,000,000","3,733,000,000","3,452,000,000","3,485,000,000","3,180,000,000","2,806,000,000","2,748,000,000"
Net Fees and Commission Income,"2,839,000,000","2,839,000,000","2,652,000,000","2,406,000,000","2,142,000,000","1,979,000,000","1,784,000,000","1,694,000,000","1,431,000,000","1,542,000,000","1,397,000,000"
Fees and Commission Income,"3,361,000,000","3,361,000,000","3,119,000,000","2,778,000,000","2,457,000,000","2,287,000,000","2,032,000,000","1,930,000,000","1,627,000,000",NaN,NaN
Service Revenues,"1,167,000,000","1,167,000,000","1,037,000,000","1,027,000,000","1,019,000,000","998,000,000","900,000,000","898,000,000","806,000,000",NaN,NaN
Asset Management Fees,"1,290,000,000","1,290,000,000","1,141,000,000","966,000,000","714,000,000","599,000,000","507,000,000","412,000,000","300,000,000",NaN,NaN
Securities Brokerage Commission Revenue,"114,000,000","114,000,000","154,000,000","154,000,000","155,000,000","180,000,000","173,000,000","214,000,000","179,000,000",NaN,NaN
Credit Card Fees,"790,000,000","790,000,000","714,000,000","543,000,000","483,000,000","434,000,000","369,000,000","337,000,000","299,000,000",NaN,NaN
Other Fees and Commission Income,NaN,NaN,"73,000,000","88,000,000","86,000,000","76,000,000","83,000,000","69,000,000","43,000,000",NaN,NaN
Fees and Commission Expense,"-522,000,000","-522,000,000","-467,000,000","-372,000,000","-315,000,000","-308,000,000","-248,000,000","-236,000,000","-196,000,000",NaN,NaN
"Net Investment Income, Revenue","1,793,000,000","1,793,000,000","1,309,000,000","1,482,000,000","1,687,000,000","1,543,000,000","1,175,000,000","1,371,000,000","1,108,000,000","1,134,000,000","1,205,000,000"
"Net Trading Income, Revenue","1,459,000,000","1,459,000,000","1,178,000,000","1,058,000,000","1,357,000,000","1,204,000,000","901,000,000","1,095,000,000","737,000,000","698,000,000","915,000,000"
"Realized Gain/Loss on Investments, Revenue","334,000,000","334,000,000","131,000,000","424,000,000","330,000,000","339,000,000","274,000,000","276,000,000","419,000,000",NaN,NaN
"Fair Value or Unrealized Gain/Loss on Investments, Revenue",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"-48,000,000",NaN,NaN
"Gains/Loss on Derivatives, Revenue",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"436,000,000","290,000,000"
Net Investment Banking Income,"213,000,000","213,000,000","128,000,000","216,000,000","189,000,000","165,000,000","243,000,000","191,000,000","148,000,000",NaN,NaN
Other Revenue,"73,000,000","73,000,000","44,000,000","368,000,000","75,000,000","9,000,000","215,000,000","200,000,000","470,000,000","130,000,000","146,000,000"
"Rental Income, Revenue",NaN,NaN,"4,000,000","10,000,000","37,000,000","37,000,000","35,000,000","29,000,000","23,000,000",NaN,NaN
Provision and Impairment for Loan Losses and Credit Risk,"-703,000,000","-703,000,000","-710,000,000","-1,894,000,000","-1,434,000,000","-743,000,000","-667,000,000","-770,000,000","-417,000,000","-722,000,000",NaN
Non-Interest Expenses and Other Income,"-6,257,000,000","-6,257,000,000","-5,723,000,000","-5,204,000,000","-4,918,000,000","-4,796,000,000","-4,208,000,000","-3,795,000,000","-3,441,000,000","-3,176,000,000","-4,854,000,000"
Non-Interest Expenses,"-6,258,000,000","-6,258,000,000","-5,814,000,000","-5,205,000,000","-4,972,000,000","-4,900,000,000","-4,330,000,000","-3,918,000,000","-3,614,000,000","-3,303,000,000","-4,854,000,000"
"Selling, General and Administrative Expenses","-5,028,000,000","-5,028,000,000","-4,570,000,000","-4,139,000,000","-4,004,000,000","-3,932,000,000","-3,440,000,000","-3,108,000,000","-2,840,000,000","-1,712,000,000","-1,422,000,000"
Staff Costs,"-3,514,000,000","-3,514,000,000","-3,188,000,000","-2,825,000,000","-2,725,000,000","-2,651,000,000","-2,294,000,000","-2,065,000,000","-1,888,000,000","-1,712,000,000","-1,422,000,000"
Pension and Other Employee Benefits Costs,"-3,514,000,000","-3,514,000,000","-3,188,000,000","-2,825,000,000","-2,725,000,000","-2,651,000,000","-2,294,000,000","-2,065,000,000","-1,888,000,000",NaN,NaN
General and Administrative Expenses,"-1,062,000,000","-1,062,000,000","-939,000,000","-903,000,000","-877,000,000","-883,000,000","-777,000,000","-678,000,000","-622,000,000",NaN,NaN
Occupancy and Equipment Expense,"-452,000,000","-452,000,000","-443,000,000","-411,000,000","-402,000,000","-398,000,000","-369,000,000","-365,000,000","-330,000,000",NaN,NaN
Occupancy Expense,"-452,000,000","-452,000,000","-443,000,000","-411,000,000","-402,000,000","-398,000,000","-369,000,000","-365,000,000","-330,000,000",NaN,NaN
Other Non-Interest Expenses,"-1,230,000,000","-1,230,000,000","-1,244,000,000","-1,066,000,000","-968,000,000","-968,000,000","-890,000,000","-810,000,000","-774,000,000","-1,591,000,000","-3,239,000,000"
"Depreciation, Amortization and Depletion",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"-193,000,000"
Depreciation and Amortization,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"-193,000,000"
Depreciation,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"-193,000,000"
Irregular Income/Expenses,"1,000,000","1,000,000","91,000,000","1,000,000","54,000,000","90,000,000","43,000,000","44,000,000","49,000,000",0,NaN
Asset Disposals,"1,000,000","1,000,000","91,000,000","1,000,000","54,000,000","90,000,000","43,000,000","44,000,000","49,000,000",NaN,NaN
"Income from Associates, Joint Ventures and Other Participating Interests",NaN,NaN,NaN,NaN,NaN,"14,000,000","79,000,000","79,000,000","124,000,000","127,000,000",NaN
Share of Profit and Interest from Associates,NaN,NaN,NaN,NaN,NaN,"14,000,000",NaN,"79,000,000","124,000,000",NaN,NaN
Pretax Income,"7,583,000,000","7,583,000,000","6,659,000,000","5,175,000,000","5,083,000,000","5,294,000,000","4,898,000,000","4,489,000,000","4,607,000,000","3,733,000,000","2,314,000,000"
Provision for Income Tax,"-1,154,000,000","-1,154,000,000","-1,006,000,000","-671,000,000","-723,000,000","-727,000,000","-713,000,000","-615,000,000","-588,000,000","-443,000,000","-454,000,000"
Net Income from Continuing Operations,"6,429,000,000","6,429,000,000","5,653,000,000","4,504,000,000","4,360,000,000","4,567,000,000","4,185,000,000","3,874,000,000","4,019,000,000","3,290,000,000","1,632,000,000"
Net Income after Extraordinary Items and Discontinued Operations,"6,429,000,000","6,429,000,000","5,653,000,000","4,504,000,000","4,360,000,000","4,567,000,000","4,185,000,000","3,874,000,000","4,019,000,000","3,290,000,000",NaN
Non-Controlling/Minority Interests,"-38,000,000","-38,000,000","-76,000,000","-133,000,000","-122,000,000","-113,000,000","-139,000,000","-202,000,000","-210,000,000","-255,000,000","228,000,000"
Net Income after Non-Controlling/Minority Interests,"6,391,000,000","6,391,000,000","5,577,000,000","4,371,000,000","4,238,000,000","4,454,000,000","4,046,000,000","3,672,000,000","3,809,000,000","3,035,000,000","1,860,000,000"
Preferred/Other Stock Distribution,"-92,000,000","-92,000,000","-86,000,000","-75,000,000",NaN,"-37,000,000",NaN,NaN,NaN,NaN,NaN
Other Distributions,"-92,000,000","-92,000,000","-86,000,000","-75,000,000",NaN,"-37,000,000",NaN,NaN,NaN,NaN,NaN
Net Income Available to Common Stockholders,"6,299,000,000","6,299,000,000","5,491,000,000","4,296,000,000","4,188,000,000","4,417,000,000","3,999,000,000","3,672,000,000","3,800,000,000","3,035,000,000","1,632,000,000"
Diluted Net Income Available to Common Stockholders,"6,299,000,000","6,299,000,000","5,491,000,000","4,296,000,000","4,188,000,000","4,417,000,000","3,999,000,000","3,672,000,000","3,800,000,000","3,035,000,000","1,632,000,000"
Other Adjustments to Net Income Available to Common Stockholders,NaN,NaN,NaN,NaN,"-50,000,000",NaN,"-47,000,000",NaN,"-9,000,000",NaN,"-228,000,000"
Reported Total Revenue,"14,544,000,000","14,544,000,000","13,183,000,000","12,274,000,000","11,489,000,000","10,923,000,000","9,816,000,000","9,098,000,000","8,514,000,000","6,909,000,000","7,066,000,000"
Reported Non-Interest Income,"4,919,000,000","4,919,000,000","4,228,000,000","4,483,000,000","4,184,000,000","3,823,000,000",NaN,NaN,NaN,NaN,NaN
Reported Normalized Income,"6,391,000,000","6,391,000,000","5,625,000,000","4,390,000,000","4,238,000,000","4,318,000,000","3,848,000,000","3,501,000,000","3,359,000,000",NaN,NaN
Fiscal year ends in Dec 31 | SGD,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [42]:
cash = pd.read_excel("cashflow.xls",  index_col=0)
cash

,TTM,2019,2018,2017,2016,2015,2014,2013,2012,2011,2010
Name,,,,,,,,,,,
"Cash Flow from Operating Activities, Indirect","11,186,000,000","11,186,000,000","-1,283,000,000","-3,122,000,000","9,437,000,000","2,874,000,000","3,976,000,000","1,293,000,000","-6,908,000,000","-1,677,000,000","4,847,000,000"
"Net Cash Flow from Continuing Operating Activities, Indirect","11,186,000,000","11,186,000,000","-1,283,000,000","-3,122,000,000","9,437,000,000","2,874,000,000","3,976,000,000","1,293,000,000","-6,908,000,000","-1,677,000,000","4,847,000,000"
Cash Generated from Operating Activities,"11,821,000,000","11,821,000,000","-392,000,000","-2,413,000,000","10,246,000,000","3,604,000,000","4,709,000,000","1,855,000,000","-6,321,000,000","-1,166,000,000","3,369,000,000"
Income/Loss before Non-Cash Adjustment,"7,583,000,000","7,583,000,000","6,659,000,000","5,175,000,000","4,360,000,000","4,567,000,000","4,185,000,000","3,874,000,000","4,019,000,000","3,290,000,000",NaN
Total Adjustments for Non-Cash Items,"1,179,000,000","1,179,000,000","954,000,000","1,603,000,000","2,318,000,000","1,389,000,000","1,074,000,000","979,000,000","149,000,000","716,000,000","2,061,000,000"
...,...,...,...,...,...,...,...,...,...,...,...
Other Changes,0,0,"-3,000,000",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
"Cash and Cash Equivalents, Beginning of Period","14,221,000,000","14,221,000,000","18,693,000,000","20,132,000,000","12,078,000,000","11,851,000,000","10,949,000,000","10,993,000,000","18,891,000,000","25,112,000,000","19,281,000,000"
"Change in Cash As Reported, Supplemental","5,714,000,000","5,714,000,000","-4,469,000,000","-1,439,000,000","8,054,000,000","227,000,000","902,000,000","-44,000,000","-7,898,000,000","-6,221,000,000","5,831,000,000"
Total Net Change in Cash,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"-6,221,000,000","5,831,000,000"
Fiscal year ends in Dec 31 | SGD,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [44]:
keyRatios = pd.read_csv('keyratios.csv', header=None,)
keyRatios

ParserError: Error tokenizing data. C error: Expected 1 fields in line 3, saw 12